.card {
  color: black;
  background-color: var(--gray-200);
  padding: 0.5rem;
  border: 1px solid black;
  margin: 0.5rem 0;
}

.card > button {
  float: right;
  background-color: var(--blue-600);
  color: white;
  padding: 0.5rem;
}

.card > button:hover {
  background-color: var(--blue-700);
}

.card > pre {
  margin: 0;
}

.card > pre[data-body] {
  color: black;
  overflow: auto;
}

.card > pre a {
  color: var(--blue-700);
}
