.button-wrapper {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.button-wrapper > a,
.button-wrapper > button {
  cursor: pointer;
  padding: 0.5rem;
  color: var(--gray-900);
  border: 1px solid var(--gray-200);
  border-radius: 0.5rem;
}

.button-wrapper > a:hover,
.button-wrapper > button:hover {
  color: white;
  background-color: var(--blue-800);
  border-color: transparent;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  .button-wrapper > a,
  .button-wrapper > button {
    color: var(--gray-300);
    border-color: var(--gray-700);
  }
}
