.field {
  position: relative;
  grid-column: span 5;
}

.field > input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.field > input[data-invalid="true"] {
  border: 1px dashed var(--red-800);
}

@media (prefers-color-scheme: dark) {
  .field > input {
    background-color: var(--gray-900);
    color: white;
  }
}

.error {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: var(--red-700);
}

@media (prefers-color-scheme: dark) {
  .error {
    color: var(--red-300);
  }
}
