.body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 1rem;
}

.body > label {
  display: block;
  padding: 0.5rem 0;
  grid-column: span 1;
  font-weight: bold;
}
