.comment {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "avatar header"
    "avatar body";
  align-content: flex-start;
}

.comment[data-deleted="true"] {
  opacity: 0.7;
}

.comment > form {
  grid-area: body;
}

.comment > form > textarea {
  box-sizing: border-box;
  margin: 0.25rem 0;
  resize: vertical;
  width: 100%;
  color: black;
}

.comment > div[data-body] {
  grid-area: body;
}

.comment > div[data-body] p {
  margin: 0;
}

.comment > aside {
  grid-area: avatar;
  margin: 0.5rem;
}

.comment > header {
  grid-area: header;
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.comment > header > p {
  margin: 0;
  flex-grow: 1;
  border-bottom: 1px dotted currentColor;
}

.comment > header > button {
  display: block;
  padding: 0.3rem;
  border-radius: 9999px;
}

.comment > header > button[data-del]:hover {
  background-color: var(--red-400);
}

.comment > header > button[data-edit]:hover {
  background-color: var(--green-400);
}

@media (prefers-color-scheme: dark) {
  .comment header button[data-del]:hover {
    background-color: var(--red-800);
  }
  .comment header button[data-edit]:hover {
    background-color: var(--green-800);
  }
}
