.chooser {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: center;
}

.chooser > input {
  display: block;
  color: black;
  padding: 0.25rem;
}

.chooser > input.error {
  background-color: var(--red-200);
}

.chooser > input.sending {
  background-color: var(--gray-300);
}

.chooser > button {
  display: block;
  padding: 0.5rem;
  color: white;
  background-color: var(--blue-800);
}

.chooser > div {
  grid-column: span 2;
  padding: 0.5rem 0;
  font-weight: bold;
  color: var(--red-800);
}

@media (prefers-color-scheme: dark) {
  .chooser > button {
    color: black;
    background-color: var(--blue-300);
  }

  .chooser > div {
    color: var(--red-400);
  }
}
