.wrapper {
  margin-top: 2rem;
  border-top: 1px dashed;
}

.wrapper > h2 {
  margin-top: 0.25rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr auto auto;
  align-content: center;
}

.wrapper > h2 > button {
  display: block;
  padding: 0.25rem;
}

.retry:hover {
  background-color: var(--blue-300);
  color: black;
}

.logout:hover {
  background-color: var(--red-400);
}

@media (prefers-color-scheme: dark) {
  .logout:hover {
    background-color: var(--red-900);
  }
  .retry:hover {
    background-color: var(--blue-800);
    color: white;
  }
}
