.wrap-div {
  margin-top: 0.5rem;
}

.new-comment button {
  display: block;
  padding: 0.333rem;
}

.write {
  background-color: var(--green-200);
  width: 100%;
}

.write:hover {
  background-color: var(--green-300);
}

.new-comment textarea {
  box-sizing: border-box;
  margin: 0.25rem 0;
  resize: vertical;
  width: 100%;
  color: black;
}

.new-comment textarea[data-error] {
  background-color: var(--red-200);
}

.new-comment:disabled {
  background-color: var(--gray-200);
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.footer a {
  color: var(--blue-800);
}

.footer a:hover {
  text-decoration: underline;
}

.footer > button[type="submit"] {
  background-color: var(--green-300);
}

.footer > button[type="submit"]:hover {
  background-color: var(--green-400);
}

.footer > button[type="reset"] {
  background-color: var(--gray-300);
}

.footer > button[type="reset"]:hover {
  background-color: var(--red-400);
}

@media (prefers-color-scheme: dark) {
  .write {
    background-color: var(--green-800);
  }

  .write:hover {
    background-color: var(--green-700);
  }

  .footer a {
    color: var(--blue-400);
  }

  .footer > button[type="submit"] {
    background-color: var(--green-800);
  }
  .footer > button[type="submit"]:hover {
    background-color: var(--green-900);
  }

  .footer > button[type="reset"] {
    background-color: black;
  }
  .footer > button[type="reset"]:hover {
    background-color: var(--red-900);
  }
}
