/* https://tailwindcss.com/docs/customizing-colors */
:root {
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;

  --green-100: #d1fae5;
  --green-200: #a7f3d0;
  --green-300: #6ee7b7;
  --green-400: #34d399;
  --green-500: #10b981;
  --green-600: #059669;
  --green-700: #047857;
  --green-800: #065f46;
  --green-900: #064e3b;

  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;

  --yellow-100: #fef3c7;
  --yellow-200: #fde68a;
  --yellow-300: #fcd34d;
  --yellow-400: #fbbf24;
  --yellow-500: #f59e0b;
  --yellow-600: #d97706;
  --yellow-700: #b45309;
  --yellow-800: #92400e;
  --yellow-900: #78350f;

  --purple-100: #ede9fe;
  --purple-200: #ddd6fe;
  --purple-300: #c4b5fd;
  --purple-400: #a78bfa;
  --purple-500: #8b5cf6;
  --purple-600: #7c3aed;
  --purple-700: #6d28d9;
  --purple-800: #5b21b6;
  --purple-900: #4c1d95;

  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;

  --ff-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu",
    "Roboto", "Noto Sans", "Droid Sans", sans-serif;
  --ff-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --ff-mono: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Ubuntu Mono",
    "Roboto Mono", Menlo, Monaco, Consolas, monospace;
}

html {
  scroll-padding-top: 3.25rem;
}

body {
  font-family: var(--ff-serif);
  color: var(--gray-900);
  background-color: var(--gray-100);
}

html,
body,
#gatsby-focus-wrapper,
#___gatsby {
  height: 100%;
}

nav {
  font-family: var(--ff-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-sans);
  margin-bottom: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  border-width: 0;
}

input {
  border-width: 0;
}

hr {
  margin-top: 12px;
  margin-bottom: 12px;
}

blockquote {
  font-size: large;
  margin-left: 0.5rem;
}

pre {
  overflow: auto;
  font-family: var(--ff-mono);
}

code {
  font-family: var(--ff-mono);
}

img {
  display: block;
}

ul {
  list-style: circle;
}

ol ol {
  list-style: lower-alpha;
  padding-left: 20px;
}

.prose-lg {
  line-height: 1.333;
  font-size: 1.2rem;
}

.prose a {
  font-weight: 500;
  color: var(--blue-800);
}

.prose a:hover {
  text-decoration: underline;
}

.prose img {
  max-width: 100%;
  margin: 2rem 0;
}

nav.toc {
  margin: 1.5rem 0;
}

nav.toc > ol {
  margin-top: 0.25rem;
  padding-left: 2rem;
  border-left: 2px solid hsla(0, 0%, 50%, 50%);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--gray-800);
    color: var(--gray-300);
  }

  .prose a {
    color: var(--blue-400);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  th,
  strong,
  code,
  pre {
    color: var(--gray-200);
  }
}
