.footer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  margin-top: 1rem;
  border-top: 1px solid black;
  width: 100%;
}

.footer > * + * {
  border-right: 1px dotted var(--gray-600);
  border-left: 1px dotted var(--gray-600);
}

.footer a {
  display: block;
  flex: 1 1 auto;
  padding: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: var(--gray-900);
  }

  .footer > * + * {
    border-color: var(--gray-600);
  }
}
