.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.root > main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-grow: 1;
}
