.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.root main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-grow: 1;
}
@media (min-width: 640px) {
  .root main {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .root main {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .root main {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .root main {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .root main {
    max-width: 1536px;
  }
}
