.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.root > main {
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  box-sizing: border-box;
  max-width: 100%;
}

@media (min-width: 576px) {
  .root > main {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .root > main {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .root > main {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .root > main {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .root > main {
    max-width: 1320px;
  }
}
