.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.root > main {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 576px) {
  .root > main {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .root > main {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .root > main {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .root > main {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .root > main {
    width: 1320px;
  }
}
