.outer {
  width: 100%;
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.outer > a {
  --link-color: var(--green-700);
  display: block;
  padding: 0.25rem;
  color: var(--link-color);
  border: 1px solid var(--link-color);
  border-radius: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.outer > a:last-of-type {
  text-align: right;
}

.outer > a:hover {
  background-color: var(--link-color);
  color: white;
}

@media (prefers-color-scheme: dark) {
  .outer > a {
    --link-color: var(--green-400);
  }

  .outer > a:hover {
    color: black;
  }
}
