.meta {
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.25rem;
  align-items: center;
  color: var(--gray-700);
}

@media (prefers-color-scheme: dark) {
  .meta {
    color: var(--gray-400);
  }
}
