.publication p {
  display: inline;
}

.publication a {
  color: var(--blue-800);
}

.publication a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .publication a {
    color: var(--blue-400);
  }
}
