.tag-link {
  color: var(--indigo-800);
}

.tag-link:hover {
  color: white;
  background-color: var(--indigo-800);
}

@media (prefers-color-scheme: dark) {
  .tag-link {
    color: var(--indigo-200);
  }
  .tag-link:hover {
    color: black;
    background-color: var(--indigo-200);
  }
}

.small {
  font-size: small;
  padding: 0.25rem;
}

.big {
  display: block;
  font-size: xx-large;
  font-weight: bold;
  padding: 1rem;
}

.large {
  font-size: large;
}
