.photo {
  float: right;
  max-width: max(20vw, 120px);
  margin: 0.5rem;
}

.photo img {
  border-radius: 0.25rem;
}

.description {
  max-width: min(80ch, 100%);
}

.root-lists {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.section > h2 {
  font-size: xx-large;
  margin-bottom: 1.5rem;
}

.section > div {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-auto-rows: 1fr;
}

.contact-list > li {
  line-height: 1.25;
  font-size: 1.125rem;
}

.contact-list > li > a {
  color: var(--blue-800);
}

.contact-list a[data-mono] {
  font-family: var(--ff-mono);
  letter-spacing: -0.03rem;
}

.contact-list > li > a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .contact-list > li > a {
    color: var(--blue-400);
  }
}
