.pager {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pager a {
  display: block;
  box-sizing: border-box;
  padding: 0.5rem;
  --button-color: var(--purple-700);
  border: 1px solid var(--button-color);
  border-radius: 0.25rem;
}

.pager a:hover {
  background-color: var(--button-color);
  color: white;
}

.pager a.disabled {
  font-weight: bold;
  border-style: dotted;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  .pager a {
    --button-color: var(--purple-300);
  }

  .pager a:hover {
    color: black;
  }
}
