name: Build and upload the website

on:
  push:
    branches:
      - master
    paths-ignore:
      - ".gitignore"
      - "README.md"
      - "curriculum/**"
      - ".vscode/**"
      - "README.md"
      - ".eslintrc.js"

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: 'npm'
      - name: Install
        run: npm clean-install
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            .cache
            public
          key: ${{ runner.os }}-gatsby-build-${{ github.run_id }}
          restore-keys: ${{ runner.os }}-gatsby-build-
      - name: Build
        run: npm run build
      - name: Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Upload
        uses: azure/CLI@v1
        with:
          azcliversion: 2.26.1
          inlineScript: |
            az storage blob sync --container '$web' --source public
        env:
          AZURE_STORAGE_ACCOUNT: ${{ secrets.AZURE_STORAGE_ACCOUNT }}
      - name: Logout
        run: |
          az logout
